#loader{
  color: var(--Fore0);
  width: 100%;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  #loader > svg{
    max-height: 40vh;
  }
  #loader > svg > rect{
    fill: var(--Fore0);
   }
  #loader > p{
    font-size: 2rem;
    text-align: center;
  }