#about{
  color: var(--Fore0);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#about > header{
  text-align: center;
  align-self: center;
  font-size: 5rem;
  align-self: center;
  margin: 4rem;
}
#about > p{  
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1rem;
}