<div class="slideshow-container">

    <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="../../assets/banner3.png" style="width:100%">
    <div class="text"></div>
    </div>

    <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="../../assets/banner1.png" style="width:100%">
    <div class="text"></div>
    </div>

    <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="../../assets/banner2.png" style="width:100%">
    <div class="text"></div>
    </div>
</div>
<br>
<div style="text-align:center">
  <span class="dot" (click)="showSlides(1)"></span> 
  <span class="dot" (click)="showSlides(2)"></span> 
  <span class="dot" (click)="showSlides(3)"></span> 
</div>

<div style="margin-left: 2rem;">
  <app-category-search category="fruits"></app-category-search>
  <app-category-search category="vegetables"></app-category-search>
  <app-category-search category="Spices"></app-category-search>
</div>
<footer class="footer-distributed">
    <div class="footer-left">
      <h2><span><i style="color: #ffffff;" class="fa-solid fa-dolly"></i></span> &nbsp; Unomart - The Place to go!</h2>
      <p class="footer-links">
        <a href="#" class="link-1">Home&nbsp;</a>
        <a href="#">About&nbsp;</a>
        <a href="#">Pricing&nbsp;</a>
        <a href="#">Contact&nbsp;</a>
      </p>
      <p class="footer-company-name">Unomart Pvt. Ltd. © 2023</p>
    </div>
    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>164 Arihant Nagar</span> Punjabi Bagh, Delhi</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+98.981.066.9695</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:adityajain121108@gmail.com?subject=FromHome">unomart@support.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p style="color: white;" class="footer-company-about">
        <span>About the company</span>
        This is a dummy company just to showcase my angular skills ;-) I really am starting to like C# + Angular programming. Some features here include complete hashing of passwords and also sessions and coupons and also Caches!
      </p>
      <div class="footer-icons">
        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/AJAdityaJain"><i class="fa fa-github"></i></a>
  
      </div>
  
    </div>
  
  </footer>
  