#Container{
    background: var(--MidGrey);
    color: var(--Fore0);
    box-shadow: var(--Shadow) 0.2rem 0.2rem 1rem;
    width: 14rem;
    height: 23rem;
    border-radius: .4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    & > div{
        padding-top: 1rem;
        text-align: center;
        min-height: 2rem;
    }
    & > img{
        flex: 1;
        width: 100%;
        object-fit:cover;
        height: 15rem;
        display: block;
        align-self: center;
        border-bottom: 0.4rem solid var(--Rose);
    }
}
#info{
    display: flex;
    flex-direction: row;
    justify-content:center; 
}
#Price{
    font-family: 'Montserrat', sans-serif;
    display: block;
    align-self: center;
}
#Name{
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;
    display: block;
    align-self: center;
}
#Qty{
    font-family: 'Montserrat', sans-serif;
    font-size:1.3rem;
    color: var(--Fore0);
    display: block;
    margin-left: 0.7rem;
    align-self: center;
}
